
/*---------------Common CSS--------------*/
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%; 
    min-height: 100vh;
    padding: 0;
    background: hsl(37, 79%, 75%);
    background: linear-gradient(0deg, hsl(13, 68%, 63%) 0%, hsl(37, 79%, 75%) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

:root {
    --gutter: 20px;
}

.app {
    padding: var(--gutter) 0;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: 
        var(--gutter)
        1fr
        var(--gutter);
        align-content: start;
}

.app > *{    
    grid-column: 2 / -2;
}

.app > .full {
    grid-column: 1 / -1;
}

.app > div{
    margin: 0;
    padding: 0;
}

h1{
   margin: auto;
   padding: 0;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 2em;
   color: hsl(234, 20%, 15%);
}


h2{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.5em;
   color: hsl(234, 20%, 15%);
}

h3{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.2em;
   color: hsl(234, 20%, 15%);
}

p{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   color: hsl(234, 20%, 15%);
}

p > a:link{
    color:hsl(234, 20%, 25%);
}

p > a:active{
    color:hsl(234, 20%, 50%);
}

hr{
    width: 90%;
    height: 2px;
    border-width: 1px;
    border-color: hsl(234, 20%, 15%);
    margin: auto;
    padding: 0;
}

/*----------------Header CSS--------------*/
header {
    background: hsl(54, 50%, 96%);
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 10000;
}

nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.nav-link-wrapper{
    display: grid;
    text-align: center;
    text-justify: center;
    margin: 0;
    padding: 0;
}

.nav-link-wrapper a:link{
    text-decoration: none;
}

.nav-link-wrapper a:visited{
    text-decoration: none;
}

.nav-link-wrapper a:hover{
    background-color: hsl(54, 50%, 80%);
}

.nav-link-wrapper a:active{
    background-color: hsl(54, 50%, 70%)
}

.nav-link-wrapper p{
    font-size: small;
    color: hsl(234, 20%, 30%);
    margin: 0;
    padding: 0 0 5px 0;
}

.nav-icon{
    font-size: xx-large;
    color: hsl(234, 20%, 30%);
    margin: 0;
    padding: 5px 0 0 0;
}

/*-------------index CSS------------*/
.scroll-wrapper{
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: 
        10px
        repeat(var(--total), calc(50% - var(--gutter) * 2))
        10px;
    grid-template-rows: minmax(150px, 1fr);
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 0px;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
    /*click and drag scroll*/
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
    /*hide scroll bar*/
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-wrapper::-webkit-scrollbar{
    display: none;
}

.scroll-wrapper.active{
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}

.scroll-wrapper::before,
.scroll-wrapper::after {
    content: '';
}

.scroll-wrapper > li,
.item {
    scroll-snap-align: center;
    padding: calc(var(--gutter) / 2 * 1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.card {
    background:hsl(234, 20%, 30%);
}

ul{
    list-style: none;
    padding: 0;
}

#jobs-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(151, 28%, 70%);
    color:hsl(234, 20%, 15%);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    border: 5px solid hsl(234, 20%, 70%);
    border-radius: 10px;
    padding: 10px;

    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

a:link#jobs-link{
    text-decoration: none;
}

a:visited#jobs-link{
    text-decoration: none;
}

a:hover#jobs-link{
    background-color: hsl(234, 20%, 70%);
}

a:active#jobs-link{
    border-color: transparent;
    background-clip: padding-box;
}

/*------------meetups CSS-------------*/
#meetup-calendar{
    height: 400px;
    width: 100%;
    margin: auto;
    border: 1px solid hsl(234, 20%, 15%)
}